<% content_for :head do %>
  <meta http-equiv="Refresh" content="30">
<% end %>

<%= form_for([:admin, @time_sheet]) do |f| %>
  <% if @time_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_sheet.errors.count, "error") %> prohibited this time_sheet from being saved:</h2>

      <ul>
      <% @time_sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if spree_current_user.admin? %>
  
    <div class="row" style="padding-bottom:0;">
      <div class="col-md-4">
        <div class="form-group form-inline">
          <%= f.label :entrance_time, "Entrada" %><br />
          <%= f.time_select :entrance_time, {}, { class: "form-control" } %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-inline pull-right">
          <%= f.label :lunch_exit_time, "Saída para o almoço" %><br />
          <%= f.time_select :lunch_exit_time, {}, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom:0;">
      <div class="col-md-4">
        <div class="form-group form-inline">
          <%= f.label :lunch_return_time, "Retorno do almoço" %><br />
          <%= f.time_select :lunch_return_time, {}, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-inline pull-right">
          <%= f.label :exit_time, "Saída" %><br />
          <%= f.time_select :exit_time, {}, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :obs %><br />
          <%= f.text_area :obs, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.submit "Salvar", class: 'btn btn-success' %>
      </div>
    </div>
    
  <% else %>
  
    <%= f.hidden_field :user_id %>
    <% if @time_sheet.entrance_time.nil? %>
      <%= f.hidden_field :entrance_time, value: Time.now %>
      <% buttom = "Registrar entrada" %>
    <% elsif @time_sheet.lunch_exit_time.nil? %>
      <%= f.hidden_field :lunch_exit_time, value: Time.now %>
      <% buttom = "Saída para o almoço" %>
    <% elsif @time_sheet.lunch_return_time.nil? %>
      <%= f.hidden_field :lunch_return_time, value: Time.now %>
      <% buttom = "Retorno do almoço" %>
    <% elsif @time_sheet.exit_time.nil? %>
      <%= f.hidden_field :exit_time, value: Time.now %>
      <% buttom = "Registrar saída" %>
    <% else %>
      <p>Nenhuma ação adicional é necessária.</p>
      <% buttom = nil %>
    <% end %>
    
    <div class="actions">
      <%= f.submit buttom, class: "btn btn-primary" if buttom %>
    </div>
    
  <% end %>
  
<% end %>
