<% content_for :page_title do %>
  Ponto de <%= @user.firstname %> - <%= @time_sheet.date %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
		<%= button_link_to "Alocar tempo", new_admin_effort_path %>
  </li>
<% end %>

<%= render partial: "summary" %>

<%= render 'form' %>

<%= link_to 'Consultar dias anteriores', admin_time_sheets_path %>
